img {
    border-radius: 15px;
}

.btn-primary {
    background: palevioletred;
    border-color: palevioletred;
}
.carousel-control-prev {
    z-index: 0;
}
.carousel-control-prev-icon {
    z-index: 0;
}

/* Buttons for mobile */
.control-buttons-mobile {
    position: absolute;
    top: 1em;
    z-index: 10;
}

.mobile-button {
    width: 3em;
    height: 3em;
    margin: 0.5em;
    margin-left: 1em;
    font-size: 1em;
    border: none;
    font-size: 1.2em;
}

#watched-button {
    background: #6f75b9;
}
#add-button {
    background: #aeec9a;
}

/* Opacity custom class Bootstrap-like (got it in the internet) */

.opacity-0 {
    opacity: 0!important;
}

.opacity-1 {
    opacity: 0.2!important;
}

.opacity-2 {
    opacity: 0.4!important;
}

.opacity-3 {
    opacity: 0.6!important;
}

.opacity-4 {
    opacity: .8!important;
}

.opacity-5 {
    opacity: 1!important;
}

/* Maybe even support hover opacity shifts */

.opacity-0h5 {
    opacity: 0!important;
    transition: opacity .25s ease-in-out!important;
    -moz-transition: opacity .25s ease-in-out!important;
    -webkit-transition: opacity .25s ease-in-out!important;
}

.opacity-0h5:hover {
    opacity: 1!important;
}