body {
    background-image: url('https://i.pinimg.com/originals/ce/50/ee/ce50ee36611b877ac88a2de36116d659.png');
    font-family: 'Varela Round', sans-serif;
}

.catalog {
    color: papayawhip;
    background: rgb(107, 196, 34); 
}

img {
    border-radius: 15px;
}

.btn-primary {
    background: rgb(180, 27, 78);
    border-color: rgb(180, 27, 78);
}


/* Buttons for mobile */
.control-buttons-mobile {
    position: absolute;
    top: 1em;
    z-index: 10;
}

.mobile-button {
    width: 3em;
    height: 3em;
    margin: 0.5em;
    margin-left: 1em;
    font-size: 1em;
    border: black solid 2px;
    font-size: 1.2em;
}

.watched-button {
    background: #7b4b94;
}

.addToWatchList-button {
    background: #D6F7A3;
}

.info-button {
    background-color: #B7E3CC;
}

/* Opacity custom class Bootstrap-like (got it in the internet) */

.opacity-0 {
    opacity: 0!important;
}

.opacity-1 {
    opacity: 0.2!important;
}

.opacity-2 {
    opacity: 0.4!important;
}

.opacity-3 {
    opacity: 0.6!important;
}

.opacity-4 {
    opacity: .8!important;
}

.opacity-5 {
    opacity: 1!important;
}

/* Maybe even support hover opacity shifts */

.opacity-0h5 {
    opacity: 0!important;
    transition: opacity .25s ease-in-out!important;
    -moz-transition: opacity .25s ease-in-out!important;
    -webkit-transition: opacity .25s ease-in-out!important;
}

.opacity-0h5:hover {
    opacity: 1!important;
}